---
- hosts: all
  become: yes

  tasks:
    - name: Install Apache
      yum: name=httpd state=present update_cache=true



    - name: Copy index.html file into place
      copy:
        src: /home/ec2-user/index.html
        dest: /var/www/html/index.html
        owner: ec2-user
        mode: '0644'
        backup: yes
    - name: Start Apache
      service: name=httpd state=started
